@use "./utilities/global" as *;

@include reset;

@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
  font-weight: 500 700;
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Space Grotesk";
    src: url("../assets/fonts/static/SpaceGrotesk-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "Space Grotesk";
    src: url("../assets/fonts/static/SpaceGrotesk-Bold.ttf");
    font-weight: 700;
  }
}

body {
  background-color: color(chinese-black);
  background: {
    image: url("../assets/images/pattern-rings.svg"),
      url("../assets/images/pattern-circle.svg");
    repeat: no-repeat no-repeat;
    position: -342px 124px, 311px 254px;
  }
  color: color(light-silver);
  font-family: "Space Grotesk";
  max-width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
