@use "./utilities/global" as *;

.image {
  margin-bottom: rem(20px);
}

.title {
  text-transform: uppercase;
  @include setFont(rem(24px), 32px, 700);
  color: color(white);
  margin-bottom: em(7px, 24px);
}

.langs {
  margin-bottom: rem(20px);
  @media (min-width: $w-desktop) {
    margin-bottom: 0;
  }
}

.lang {
  text-transform: uppercase;
  @include setFont(rem(18px), 28px, 500);
  &:first-of-type {
    margin-right: rem(18px);
  }
  &:nth-of-type(2) {
    margin-right: rem(20px);
  }
}

.view {
  & > a:first-of-type {
    margin-right: rem(30px);
  }
  @media (min-width: $w-desktop) {
    display: none;
  }
}
