@use "../../styles/utilities/global" as *;

.container {
  width: rem(18.62px);
  height: rem(15.14px);
  @media (min-width: $bp1) {
    width: rem(23.28px);
    height: rem(18.93px);
  }
  & svg {
    width: 100%;
    height: 100%;
  }
}
