@use "../../styles/utilities/global" as *;

.container {
  width: rem(19.2px);
  height: rem(19.2px);
  @media (min-width: $w-tablet) {
    width: rem(24px);
    height: rem(24px);
  }
  & svg {
    width: 100%;
    height: 100%;
  }
}
