@use "../../styles/utilities/global" as *;

.container {
  width: rem(19.69px);
  height: rem(19.2px);
  @media (min-width: $bp1) {
    width: rem(24.61px);
    height: rem(24px);
  }
  & svg {
    width: 100%;
    height: 100%;
  }
}
