@use "../../styles/utilities/global" as *;

.container {
  width: rem(19.68px);
  height: rem(17.6px);
  @media (min-width: $w-tablet) {
    width: rem(24.6px);
    height: rem(22px);
  }
  & svg {
    width: 100%;
    height: 100%;
  }
}
